[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
	p = push
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	glo = log --oneline --decorate --all --graph
	glog = log --pretty=format:'%h%x09%an%x09%ad%x09%s'
	sb = submodule
        wdiff = diff --word-diff=color --unified=1
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ll = log --oneline
	rv = remote -v
	d = diff
	dv = difftool -t vimdiff -y
	gl = config --global -l
	se = !git rev-list --all | xargs git grep -F
[user]
	name = Clement Onawole
	email = dapo.onawole@gmail.com
	signingKey = "3E00A9CE54BEBAD7"
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[http]
	sslverify = false
[diff]
	tool = vimdiff
[diff "odt"]
        binary = true
        textconv = odt2txt
[diff "pandoc"]
        textconv = pandoc --to=markdown
        prompt = false
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[mergetool]
	keepBackup = false
	prompt = false
	keepTemporaries = false
[difftool]
	prompt = false
[help]
	autocorrect = 20
